@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: rgba(40, 116, 240, 1.00);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
      -webkit-tap-highlight-color: transparent;
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent;
}

.flipkart:hover .flipkartmenu {
  display: block;
}

.category::-webkit-scrollbar {
  display: none;
}

.swiper-pagination{
  transition: all 2s;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-button-next {
  color: black !important;
  background-color: #fff;
  right: 0 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 40px 20px !important;
}

.swiper-button-prev {
  color: black !important;
  background-color: #fff;
  left: 0 !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 40px 20px !important;
}

.swiper-button-prev:after {
  font-size: 15px !important;
}

.swiper-button-next:after {
  font-size: 15px !important;
}